* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('./assets/imgs/background.jpeg');
  background-repeat: no-repeat;
  background-size: 150% 100%;
  width: 100vw;
  height: 100vh;
}
